# Порт приложения
PORT=4000

# База данных
DATABASE_TYPE=postgres
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_USER=your_db_user_here
DATABASE_PASSWORD=your_db_password_here
DATABASE_NAME=your_db_name_here
DATABASE_SYNCHRONIZE=false

# JWT
JWT_KEY=your_jwt_secret_here
JWT_EXPIRES_IN=7d